@tailwind base;
@tailwind components;
@tailwind utilities;

* {
    /* border: 1px solid #000; */
    font-family: "Plus Jakarta Sans", sans-serif;
}
.option-svg-post {
    transform: rotate(90deg);
}

.options {
    display: none;
}

.option-svg-post.active ~ .options {
    display: block;
}

.delete-modal {
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.hamburger-menu.active span:nth-child(1) {
    position: absolute;
    transform: rotate(45deg);
}
.hamburger-menu.active span:nth-child(2) {
    transform: rotate(-45deg);
}

.sub-nav-responsive.active {
    display: flex;
}

.options_blog_container.active {
    display: block;
} 

.user_preferences.active {
    display: flex;
    flex-direction: column;
}

.options_profile_container.active {
    display: block;
}

.modal_preview_container.active {
    display: block;
}

@media screen and (min-width: 1366px){
     :root {
        font-size: 1.1vw;
     }
}

@media screen and (min-width: 850px) and (max-width: 1120px){
     :root {
        font-size: 1.3vw;
     }
}

@media screen and (min-width: 767px) and (max-width: 850px){
     :root {
        font-size: 1.5vw;
     }
}

@media screen and (min-width: 600px) and (max-width: 767px){
     :root {
        font-size: 1.8vw;
     }
}

@media screen and (min-width: 450px) and (max-width: 600px){
     :root {
        font-size: 2.2vw;
     }
}

@media screen and (max-width: 450px){
     :root {
        font-size: 2.6vw;
     }
     .description_input {
        height: 32rem;
     }
}
